body {
    display: flex;
    justify-content: center;
}

#calculator {
    background-color: #555555;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid black;
}

#screen {
    background-color: #ccffee;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    padding: 0 4px;
    text-align: end;
    width: 5.5em;
}